.quiz_title {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 5px;
}

.quiz_question {
    margin-left: 15px;
    font-size: large;
    margin: 5px;
}

div#quiz_options {
    margin-top: 10px;
    padding: 10px;
}

.quiz_message .wrong {
    color: red;
}

.quiz_message .right {
    color: green;
    font-weight: bold;
}

.quiz_message .finish {
    color: blue;
    font-weight: bolder;
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}